<h2>다른이들의 교훈</h2>

<table class="table table-striped">
<thead>	
  <tr>
    <th width="10%">일자</th>
    <th width="40%">오늘의교훈</th>
    <th width="40%">내일의목표</th>

  </tr>
</thead>
<tbody>
<% @lessons.each do |lesson| %>
  <tr>
    <td><%= link_to lesson.date.strftime("%m-%d"), lesson_path(lesson)%></td>
    <td><%= lesson.today %></td>
    <td><%= lesson.tomorrow %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
<center><%= will_paginate @lessons%></center>

<%= link_to '나의 교훈 등록하기', new_lesson_path %>