<h2>나의 기록들</h2>

<table class="table table-striped">
	
  <tr>
    <th>일자</th>
    <th width="30%">오늘의교훈</th>
    <th width="30%">내일의목표</th>
    <th>빡심</th>
    <th>몸상태</th>
    <th>정신<br/>상태</th>
    <th>일시간<br/>논시간</th>
  </tr>

<% @lessons.each do |lesson| %>
  <tr>
    <td><%= link_to lesson.date.strftime("%m-%d"), lesson %></td>
    <td><%= lesson.today %></td>
    <td><%= lesson.tomorrow %></td>
    <td><%= lesson.str_work_hardness %></td>
    <td><%= lesson.str_body_condition %></td>
    <td><%= lesson.str_mental_condition %></td>
    <td><%= lesson.workinghour %><br/><%= lesson.playinghour %></td>
  </tr>
<% end %>
</table>

<br />
<center><%= will_paginate %></center>

<%= link_to 'New Lesson', new_lesson_path %>
