<h2><%= @lesson.date.strftime("%m-%d")%>의 교훈  	<div class="fb-like" data-href='<%= lesson_url(@lesson)%>' data-send="true" data-layout="button_count" data-width="100" data-show-faces="false"></div>
	</h2>
  	
	<div class='row-fluid'>
		<div class='span6'>
			<div class="well">
			<h4>오늘의 교훈</h4>
			<%= @lesson.today %>
			</div>
		</div>
		
		<div class='span6'>
			<div class="well">
			<h4>내일의 목표</h4>
			<%= @lesson.tomorrow %>
			</div>
		</div>
	</div>
	
	<%if @lesson.user_id == current_user.id%>
    <div class='row-fluid'>
		<div class='span6'>
			<div class="well">
			<h4>일지</h4>
			<%= markdown @lesson.dummylog  %>
			</div>
		</div>
		<div class='span6'>
			<div class="well">
			<h4>배운거(Input)</h4>
			<%= markdown @lesson.input %>
			<h4>만든거(output)</h4>
			<%= markdown @lesson.output %>
			</div>
		</div>
	</div>
	
	
	
	<div class='row-fluid'>
		<div class='span3'>
			<h4>시간</h4>
			<ul>
			<li><strong>일한시간 : </strong> <%= @lesson.workinghour %>시간</li>
			<li><strong>논시간 : </strong> <%= @lesson.playinghour %>시간</li>
			</ul>
		</div>
		<div class='span3'>
			<h4>상태</h4>
			<ul>
			<li><strong>업무강도 : </strong> <%= @lesson.str_work_hardness %></li>
			<li><strong>몸상태: </strong> <%= @lesson.str_body_condition %></li>
			<li><strong>마음상태: </strong> <%= @lesson.str_mental_condition %></li>
			</ul>

		</div>
		<div class='span3'>
			<h4>기상</h4>
			<ul>
			<li><strong>기상시간 : </strong> <%= @lesson.wakeuptime.strftime("%H:%M") if @lesson.wakeuptime%></li>
			<li><strong>취침시간 : </strong> <%= @lesson.sleeptime.strftime("%H:%M") if @lesson.sleeptime%></li>
			</ul>
		</div>
		<div class='span3'>
	<h4>무슨 운동했니?</h4>
    <p>
 	<%= @lesson.str_ex %>
 	</p>
		</div>
	</div>
    
<%= link_to '수정', edit_lesson_path(@lesson) %> | <%= link_to '삭제', @lesson, confirm: 'Are you sure?', method: :delete %> | <%= link_to '목록', lessons_path %>
<%end%>
