<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @board.title %>
</p>

<p>
  <b>Admin user:</b>
  <%= @board.admin_user_id %>
</p>

<p>
  <b>Read perm:</b>
  <%= @board.read_perm %>
</p>

<p>
  <b>Write perm:</b>
  <%= @board.write_perm %>
</p>

<p>
  <b>Group:</b>
  <%= @board.group_id %>
</p>


<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
